<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_margins = [2, 2]
  Dashing.widget_base_dimensions = [85, 400]
  Dashing.numColumns = 12
});
</script>

<% content_for :title do %>Homeboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="5" data-sizey="2">
      <div data-id="9to5mac" data-view="List" data-unordered=false data-title="9to5 Mac"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="forecast_overview" data-view="Forecast"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="precipitation" data-view="Rickshawgraph" data-unstack="true" data-color-scheme="compliment" data-renderer="area" data-max="0.45" data-moreinfo="Precipitation"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="6" data-sizey="1">
      <div data-id="movies" data-view="List"></div>
    </li>
  </ul>
</div>
