<script type='text/javascript'> $(function() { Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":4,"size_y":1},{"col":5,"row":1,"size_x":4,"size_y":1},{"col":7,"row":2,"size_x":6,"size_y":1},{"col":9,"row":1,"size_x":4,"size_y":1},{"col":1,"row":2,"size_x":6,"size_y":1}]') }); </script>

<% content_for :title do %>Homeboard<% end %>
<% content_for :metatags do %>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport" content="user-scalable=no, width=device-width" />
  <meta name="format-detection" content="telephone=no">
<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="forecast_overview" data-view="Forecast"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="6" data-sizey="1">
      <div data-id="trimet-home" data-view="List" data-unordered=true></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="ninefivemac" data-view="News" data-interval="30"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="6" data-sizey="1">
      <div data-id="movies" data-view="List"></div>
    </li>

  </ul>
</div>

