<h1 class="title" data-bind="title"></h1>

<ol>
  <li data-foreach-item="items">
    <a target="_blank" data-bind-href="item.link">
      <span class="label" data-bind="item.label"></span>
    </a>
    <span class="value" data-bind="item.value"></span>
    <span class="timestamp" data-bind-data-livestamp="item.timestamp"></span>
  </li>
</ol>

<ul class="list-nostyle">
  <li data-foreach-item="items">
    <a target="_blank" data-bind-href="item.link">
      <span class="label" data-bind="item.label"></span>
    </a>
    <span class="value" data-bind="item.value"></span>
    <span class="timestamp" data-bind-data-livestamp="item.timestamp"></span>
  </li>
</ul>

<p class="more-info" data-bind="moreinfo"></p>
<div class="updated-at">Last updated
  <span data-bind-data-livestamp="updatedAt"></span>
</div>
