<h1 class="title" data-bind="title"></h1>

<h2 class="value" data-bind="count | humanizeNumber"></h2>

<p class="more-info" data-bind="moreinfo"></p>

<div class="updated-at">Last updated
  <span data-bind-data-livestamp="updatedAt"></span>
</div>
