<div class="widget-title" data-bind="title | raw"></div>

<div>
	<h1 class="title">right now</h1>
	<canvas id="current_icon" class="forecast-icon" width="85px" height="85px"></canvas>
  	<div class="temp" data-bind="current_temp | raw"></div>
  	<div class="summary" data-bind="current_desc | raw"></div>
</div>

<div class="section">
	<h1 class="title">next hour</h1>
	<canvas id="next_icon" class="forecast-icon" width="25px" height="25px"></canvas>
	<div class="summary" data-bind="next_desc | raw"></div>
</div>

<div class="section">
	<h1 class="title">later</h1>
	<canvas id="later_icon" class="forecast-icon" width="25px" height="25px"></canvas>
	<div class="summary" data-bind="later_desc | raw"></div>
</div>

<div class="updated-at">Last updated
  <span data-bind-data-livestamp="updatedAt"></span>
</div>
