// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-movies styles
// ----------------------------------------------------------------------------
.widget-movies {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  li {
    margin-bottom: 20px;
  }

  .list-nostyle {
    list-style: none;
  }

  .clear { clear:both; }

  .movie_title {
    color: $label-color;
  }

  .theater {
    font-size: 17px;
    margin-left: 12px;
    color: $value-color;
  }

  .showtime {
    font-size: 14px;
    float: right;
    margin-left: 0.5em;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

}
