<h1 class="title" data-bind="title"></h1>

<ul class="list-nostyle">
  <li data-foreach-item="items">
    <span class="movie_title" data-bind="item.movie_title"></span>

    <div data-foreach-theater="item.theaters">
      <p class="clear theater" data-bind="theater.name"></p>
      <span class="showtime" data-foreach-showtime="theater.times" data-bind="showtime"></span>
    </div>

  </li>
</ul>

<p class="more-info" data-bind="moreinfo"></p>
<div class="updated-at">Last updated
  <span data-bind-data-livestamp="updatedAt"></span>
</div>
